.nav {
  width: 100%;
  max-width: $breakpoint-xl;
  padding: 0 12px;
  margin: 0 auto;
}

.wrap {
  display: flex;
  height: $header-height;
  align-items: center;
  background-color: $header-bg;
}

.user {
  margin-right: 5px;
}
