.footer {
  display: flex;
  height: $footer-height;
  align-items: center;
  background-color: $footer-bg;
}

.wrap {
  display: flex;
  width: 100%;
  max-width: $breakpoint-xl;
  justify-content: space-between;
  padding: 0 12px;
  margin: 0 auto;
}

.date,
.email {
  color: $footer-text;
}
